$prefix: $global-prefix;

.$(prefix)text-left {
  text-align: left;
}

.$(prefix)text-center {
  text-align: center;
}

.$(prefix)text-right {
  text-align: right;
}

.$(prefix)text-gray,
.$(prefix)text-tips {
  color: var(--color-text-gray);
}

.$(prefix)text-primary {
  color: var(--color-primary);
}

.$(prefix)text-danger {
  color: var(--color-danger);
}

a.$(prefix)text-gray,
a.$(prefix)text-tips,
a.$(prefix)text-primary,
a.$(prefix)text-danger {
  text-decoration: underline;
}

.$(prefix)text-small {
  font-size: var(--font-size-small);
}
